
#fontt {text-align: center; color:antiquewhite;}
#fontpdf {text-align: center; color:rgb(255, 177, 177);}
#fp {text-align: center; color:rgb(255, 177, 177);}
#rraang {text-align: center; color : rgb(239, 180, 149);}

.nav {
    margin:3;
    padding: 4px;;
    text-align: center; }
